[submodule "lib/stm32tpl"]
	path = lib/stm32tpl
	url = https://antongus@github.com/antongus/stm32tpl.git
[submodule "lib/scmRTOS"]
	path = lib/scmRTOS
	url = https://github.com/scmrtos/scmrtos.git
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
